[submodule "zshare-client/cpr"]
	path = zshare-client/cpr
	url = git://github.com/whoshuu/cpr.git
[submodule "zshare-client/opt/cpr"]
	path = zshare-client/opt/cpr
	url = git://github.com/whoshuu/cpr.git
[submodule "zshare-client/opt/json"]
	path = zshare-client/opt/json
	url = git://github.com/nlohmann/json.git
