zshare-server/.gradle
zshare-server/build/

# Ignore Gradle GUI config
zshare-server/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!zshare-server/gradle-wrapper.jar

# Cache of project
zshare-server/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
zshare-server/.idea
zshare-server/out
zshare-client/cmake-build-debug
zshare-client/zshare-client.iml
.tmp/
tomcat.8080/
zshare-client/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/tmp/
zshare-client/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/tmp/
zshare-client/cmake-build-debug/CMakeFiles/CMakeTmp/
